<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Login</title>
    <style>
    body{
        width:50%;
        margin:50px auto;
        text-align:center;

    }
    form{
        background-color:aqua;
        border:1px solid black;
        margin:10px;
        padding:20px;
    }
    submit{
        text-align:center;
    }
    </style>
</head>
<body>
<fieldset>
    <legend>Login Details</legend>
<form action="/" method="post">
    <label>Enter your Username::</label>
    <input type="test" name="username" required ><br><br>
    <label>Enter Your Password::</label>
    <input type="password" name="password" required ><br><br>
    <input type="submit"><br><br>
</form>
</fieldset>

</body>
</html>